*.o
*.a
*.d
*.a.d
*.so
*.so.0.1*
*.so.1.0*
*.o.d
*.opic
*.opic.d
control/tap-ctl
dist/
drivers/lock-util
drivers/tapdisk-diff
drivers/tapdisk-stream
drivers/tapdisk2
drivers/td-util
part/part-util
vhd/vhd-index
vhd/vhd-update
vhd/vhd-util
